<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header"  id="mymodal">
    <h6 style="margin: auto" class="modal-title text-center" id="modal-basic-title">New Tweet</h6>
    <button style="margin-left: 0" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body"  style="background-color: #E5EFF7;">
    <app-tweet></app-tweet>
  </div>
  <!--<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark">Save</button>
  </div>-->
</ng-template>
<a  style="border-radius: 25px" class="btn blue-primary text-white" role="button"  (click)="open(content)">
  <strong>Tweet</strong>
</a>